:root {
  --cat-container-width: 40%;
  --cat-container-heigh: 300px;
  --cat-container-background-color: rgb(190, 187, 187);
  --cat-container-heigh: 450px;
  --pixles16: 16px;
}

.cat-container{
  display: flex;
  flex-direction: column;
  padding: var(--pixles16);
  width: var(--cat-container-width);
  height : var(--cat-container-height);
  margin: 0px auto;
  background-color:  var(--cat-container-background-color);
  border: 6px solid black;
  border-radius: 18%;
  }

 .cat-container-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

img{
  width: 60%;
  height: 100%;
  width: 50%;
  max-height:300px;
  max-width: 400px;
  border-radius: var(--pixles16);
}



h1{
  color: rgb(2, 9, 10);
}


