:root{
  --searchBoxHeight: 50px;
}

.search-container {
  display: flex;
  width: 60%;
  padding: 16px;
  margin-left: 40%;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container *{
  margin: 1%;
}


.input-container{
  display: flex;
}

.input-hint{
  background-color: rgb(255, 246, 246);
  padding: 6px;
}

button{
  border-radius: 5%;
  width: 50%;
}